*{
    box-sizing: border-box;
}

#head_menu {
    position: relative;
    left: 50px;
    top: 20px;
    font-family: 'Droid Sans',sans-serif;
    font-size: 18px;
}

h1 {
    font-weight: normal;
}

#main_menu {
    position: relative;
    bottom: 10px;
}

.start_menu {
    background-color: rgb(249, 169, 26);
    width: 400px;
}

a {
    text-decoration: none;
    display: block;
    width: 400px;
    height: 50px;
    padding: 15px;
}

.grey_box{
    width: 400px;
    background-color: rgb(234,237,237);
}

.grey_box a{
    color:black;
}

.start_menu a{
    color: white;
}

.grey_box:hover{
    background: rgb(204, 209, 209);
}

.grey_box:active {
    background: rgb(112, 113, 124);     
}

.start_menu:hover {
    background: rgb(204, 209, 209);
}

.start_menu :active {
    background: rgb(112, 113, 124);
    color: black;
}
