*{
    box-sizing: border-box;
}


#head_menu {
    position: relative;
    left: 50px;
    top: 20px;
    font-family: 'Droid Sans',sans-serif;
    font-size: 18px;
}

#main_menu{
    position: relative;
    bottom: 10px;
}

h1{
    font-weight: normal;
    width: 400px;
}

.start_menu {
    width: 400px;
    padding: 15px;
    color: white;
    background-color: rgb(249, 169, 26);
}

.grey_box{
    width: 400px;
    padding: 15px;
    background-color: rgb(234,237,237);
}

.grey_box:hover{
    background: rgb(204, 209, 209);
}

.start_menu:hover {
    background: rgb(204, 209, 209);
    color: black;
}